/*General Syling*/
body{
	overflow:hidden;
	margin-bottom: 15vh;
}
body > div{
	display: grid;
	grid-auto-flow: column;
	place-content: center;
}
.modalBody,.modalItemHeader{
	font-size:clamp(15px,var(--step--2),var(--step--1));
	line-height:clamp(15px,var(--step--2),var(--step--1));
}
.modalHeader,.modalTitleText,.modalCloseButton{
	font-size:clamp(25px,var(--step--1),var(--step-0));
	line-height:clamp(25px,var(--step--1),var(--step-0));
	padding-top: 1vh;
}
/*Page One Syling*/
div > a {
	margin-top: 2.5vh;
	position: relative;
	left: 20vw;
	font-size:clamp(15px,var(--step--2),var(--step--1));
	line-height: 15px;
	font-weight: 100;
}
#portfolioButton > a{
	left: -30vw;
	right: 30vw;
	font-size:clamp(15px,var(--step--2),var(--step--1));
	line-height: 15px;
	font-weight: 100;
}
#pageOneHeader{
	display: grid;
	place-content: center;
}
/*Page One Styling*/
#pageOneHeader > img{
	margin-top: 1vh;
	margin-bottom: 2.5vh;
	inline-size: 85vw;
	display: grid;
	place-content: center;
}
#pageOneBody{
	max-width: 75vw;
	max-height: 95vh;
	margin: auto;
	display: grid;
	grid-auto-flow: column;
	place-content: center;
	font-weight: 100;
}
#pageOneBody>p{
	font-size:clamp(15px,var(--step--2),var(--step--1));
	line-height: 15px;
	font-weight: 100;
	margin-bottom: 10vh;
}
#pageOneBody>p>a{
	font-size:clamp(15px,var(--step--2),var(--step--1));
	line-height: 15px;
	font-weight: 100;
	margin-top: 10vh;
}
/*Design Philosophy Styling*/
#pageTwoHeader{
	display: grid;
	place-content: center;
	max-width: 85vw;
	max-height: 80vh;
	margin: 2.5vh auto;
}
#pageTwoBody{
	display: grid;
	place-content: center;
	grid-auto-flow: row;
	max-width: 75vw;
	max-height: 80vh;
	margin: max(1px,4vmin) auto;
}
#pageTwoBody > p{
	display: grid;
	place-content: center;
	font-size:clamp(15px,var(--step--2),var(--step--1));
	line-height: 15px;
	font-weight: 100;
	width: 75%;
	margin: auto;
}
#arrowAnimation{
	margin: 2.5vh auto;
	animation: rotateCircle 50s linear infinite;
	animation-play-state: var(--playState);
	display: grid;
	place-content: center;
}
#circleOfArrows{
	inline-size:clamp(200px,75%,500px); 
	display: grid;
	place-content: center;
	margin-left: 12vw;
}
#arrowTextAnimation{
}
#formText>p,#feelText>p,#functionText>p{
	font-size:clamp(15px,var(--step--2),var(--step--1));
	line-height: 15px;
	font-weight: 100;
	display: inline-block;
	position: fixed;
	animation: rotateText 50s linear infinite;
	animation-play-state: var(--playState);
}
#functionText>p{
	margin-left: 15vw;
	margin-top: -46vw;
}
#formText>p{
	margin-left: 19vw;
	margin-top: -12.5vw;
}
#feelText>p{
	margin-left: 55vw;
	margin-top: -40vw;
}
/*Applied Design Style*/
#pageThreeHeader > img{
	position: static;
	margin-top: 8vh;
	inline-size: 50vw;
	display: grid;
	place-content: center;
}
#pageThreeBody{
	position: static;
	max-width: 80vw;
	max-height: 20vh;
	margin: clamp(160px,25%,250px) 50%;
	display: grid;
	grid-auto-flow: row;
	place-content: center;
	text-align: center;
}
#pageThreeBody > p {
	position: static;
	color: var(--darkColor);
	width: 80vw;
	padding: 2vw;
	border-radius: 2vw;
	grid-auto-flow: column;
	margin: 3vw 0;
	place-content: center;
	text-align: center;
	font-size:clamp(15px,var(--step--2),var(--step--1));
	line-height: 15px;
	font-weight: 100;
}
#pageThreeBody > div{
	display: grid;
	grid-auto-flow: column;
	place-content: center;
	text-align: center;
}
#pageThreeBody > div > div{
	
	color: var(--darkColor);
	padding: 2vw;
	margin: 0.5vw;
	border-radius: 2vw;
}
/*Portfolio Page Styling*/
#portfolioHeader > img{
	margin-top: 4vh;
	inline-size: 85vw;
	display: grid;
	place-content: center;
}
body > div > h3{
	font-size: var(--step-0);
	color: var(--darkColor);
	margin: 0.5vh 5vw 0
}
.portfolioBody{
	margin-top: 5vh;
}
#scrollNav{
	display: grid;
	grid-auto-flow: column;
	place-content: center;
}
#scrollButtonLeft, #scrollButtonRight{
	inline-size: 80vw;
	block-size: 2vh;
	position: relative;
	filter: invert(75%) sepia(18%) saturate(4909%) hue-rotate(187deg) brightness(95%) contrast(88%);
}
#scrollButtonLeft:hover, #scrollButtonRight:hover{
	filter: none;
}
#scrollButtonLeft{
	transform: rotate(-90deg);
	left: 40%;
}
#scrollButtonRight{
	transform: rotate(90deg);
	right: 40%;
}
#scrollBar{
	inline-size: 65vw;
	block-size: 2vh;
background: linear-gradient(90deg, rgba(125,166,227,1) 0%, rgba(2,0,36,1) 100%);
	border-radius: 2rem;
	background-size: 700%;
	background-position: left;
/*	border: 2.5px solid var(--darkColor);*/
}

#cardWrapper {
	margin-top: 0.5vh;
	position: fixed;	
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 20px;
	padding: 1rem 2rem 2rem;
	overflow-x: auto;
	inline-size: 100%;
	height: 70vh;
	overflow-y: hidden;
	grid-column: 23%;
}
#cardWrapper > div{
	inline-size: 73vw;
	inline-size: 53vw;
	color: var(--lightColor);
	display: grid;
	place-items:center;
	text-align: center;
	padding: 2em;
	border-radius: 0.5em;
	height: 35vh;
	height: 55vh;
	overflow: hidden;
	border: 2.5px solid var(--darkColor);
}
#cardWrapper > div > h1,h2{
	color: var(--lightColor);
}
#cardWrapper > div > h1 {
	font-size: clamp(3.5vmin,var(--step-2),5.5vmin);
	line-height: max(0.5px,var(--step-2));
}
#cardWrapper > div > h2{
	padding: max(2.5px,1vmin) 0;
	width: fit-content;
	font-size: clamp(2.5vmin,var(--step--1),2.5vmin);
	line-height: max(0.5px,var(--step--1));
}