#pageOneHeader{
	animation: title 3s ease-in-out;
}
@keyframes title {
	0% {
		transform: translateY(12vh);
		opacity: 0;
	}
	50%{
		transform: translateY(10vh);
		opacity: 100;
	}
}

#pageOneBody > p{
	color:transparent;
	background: rgb(0,0,0);
	background: -webkit-linear-gradient(rgba(0,0,0,1) 1%, rgba(0,0,0,0) 5%) top no-repeat;
	-webkit-background-clip: text;
	-webkit-box-decoration-break: clone;
	-webkit-background-size: 100% 1%;
	opacity: 0;
	animation: body-text-animations 20s ease-in-out forwards;
	animation-delay: 3s;
}


@keyframes body-text-animations{
	0%{
		-webkit-background-size: 100% 0.1%;
		opacity: 0;
	}
	25%{
		opacity: 100;
	}
	100%{
		-webkit-background-size: 100% 22500%;
		opacity: 100;
	}
}

div > a,#pageTwoBody > p,#arrowTextAnimation{
	opacity: 0;
	animation: feelFormFunctionText 1.5s ease-in-out forwards;
	animation-delay: 1.5s;
	pointer-events: all;
}
@keyframes feelFormFunctionText {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100;
	}
}
@keyframes rotateCircle{
	from{
		transform: rotate(0deg)
	}
	to{
		transform: rotate(-359deg)
	}	
}
@keyframes rotateText {
	from{
		transform: rotate(0deg)
	}
	to{
		transform: rotate(359deg)
	}
}
