#pageOneHeader>img{
	animation: animateJs 2.5s forward;
}
@keyframes animateJs {
	0%{
		inline-size:100vh;
	}
	100%{
		
	}
}

#designPhilosophyBodyText,#arrowTextAnimation{
	opacity: 0;
	animation: feelFormFunctionText 1.5s ease-in-out forwards;
	animation-delay: 1.5s;
	pointer-events: all;
}
@keyframes feelFormFunctionText {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100;
	}
}