.Animate_Title{
	animation: Title 3s ease-in-out;
	
}
@keyframes Title {
	0% {
		transform: translateY(12vh);
		opacity: 0;
	}
	50%{
		transform: translateY(10vh);
		opacity: 100;
	}
}
#Page_One_Body{
	color:transparent;
	
}
.Animate_Text{
	position: fixed;
	margin-top: -10vw;
	padding-top: 10vh;
}
#Page_One_Body{
	color:transparent;
	background: rgb(0,0,0);
	background: -webkit-linear-gradient(rgba(0,0,0,1) 1%, rgba(0,0,0,0) 5%);
	-webkit-background-clip: text;
	-webkit-box-decoration-break: clone;
	-webkit-background-size: 100%;
	opacity: 0;
	animation: text 7.75s ease-in-out forwards;
	animation-delay: 3s; 
}
@keyframes text{
	0%{
		-webkit-background-size: 100%;
		opacity: 0;
	}
	100%{
		-webkit-background-size: 4500%;
		opacity: 100;
	}
}#arrowTextAnimation{
	opacity: 0;
	animation: feelFormFunctionText 1.5s ease-in-out forwards;
	animation-delay: 1.5s;
	pointer-events: all;
}
@keyframes feelFormFunctionText {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 100;
	}
}