/*General Syling*/
body > div{
	display: grid;
	grid-auto-flow: column;
	place-content: center;
}
/*Page One Syling*/
div > a{
	margin-top: 4vh;
	position: relative;
	right: 20vw;
}
#pageOneHeader{
	display: grid;
	place-content: center;
}
#pageOneHeader > img{
	margin-top: 1vh;
	inline-size: 100vh;
	display: grid;
	place-content: center;
	
}
#pageOneBody{
	max-width: 45vw;
	max-height: 50vh;
	margin: auto;
	margin-top: 5vh;
	
}
/*Portfolio Page Styling*/
#portfolioHeader > img{
	margin-top: 4vh;
	inline-size: 50vh;
	display: grid;
	place-content: center;
}
body > div > h3{
	font-size: var(--step-0);
	color: var(--darkColor);
	margin: 3vh 5vw
}
/* Portfolio Page */
.portfolioContent{
	margin-top: 5vh;
}
#scrollNav{
	display: grid;
	grid-auto-flow: column;
	place-content: center;
}
#scrollButtonLeft, #scrollButtonRight{
	inline-size: 80vw;
	block-size: 2vh;
	position: relative;
	filter: invert(75%) sepia(18%) saturate(4909%) hue-rotate(187deg) brightness(95%) contrast(88%);
}
#scrollButtonLeft:hover, #scrollButtonRight:hover{
	filter: none;
}
#scrollButtonLeft{
	transform: rotate(-90deg);
	left: 40%;
}
#scrollButtonRight{
	transform: rotate(90deg);
	right: 40%;
}
#scrollBar{
	inline-size: 80vw;
	block-size: 2vh;
background: linear-gradient(270deg, rgba(235,232,228,1) 0%, rgba(125,166,227,1) 100%);
	border-radius: 2rem;
	background-size: 700%;
	background-position: left;
/*	border: 2.5px solid var(--darkColor);*/
}

#cardWrapper {
	margin-top: 2vh;
	position: fixed;	
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 20px;
	padding: 1rem 2rem 2rem;
	overflow-x: auto;
	inline-size: 100%;
	height: 70vh;
	overflow-y: hidden;
	grid-column: 23%;
}
#cardWrapper > div{
	inline-size: 25vw;
	color: var(--lightColor);
	display: grid;
	place-items:center;
	text-align: center;
	padding: 2em;
	border-radius: 0.5em;
	height: 60vh;
	overflow: hidden;
	border: 2.5px solid var(--darkColor);
}
#cardWrapper > div > h1,h2{
	color: var(--lightColor);
}
#cardWrapper > div > h1 {
	font-size: clamp(3.5vmin,var(--step-2),5.5vmin);
	line-height: max(0.5px,var(--step-2));
}
#cardWrapper > div > h2{
	padding: max(2.5px,1vmin) 0;
	width: fit-content;
	font-size: clamp(2.5vmin,var(--step--1),2.5vmin);
	line-height: max(0.5px,var(--step--1));
}