.Animate_Title{
	animation: Title 3s ease-in-out;
	
}
@keyframes Title {
	0% {
		transform: translateY(12vw);
		opacity: 0;
	}
	50%{
		transform: translateY(10vw);
		opacity: 100;
	}
}
.Animate_Text{
	color:transparent;
	background-image: linear-gradient(to bottom, black 2%, transparent 25%);
	-webkit-background-clip: text;
	-webkit-background-size: 100%;
	background-position: 5vw 0vw;
	opacity: 0;
	animation: Text 7.75s ease-in-out forwards;
	animation-delay: 2.25s; 
} 
@keyframes Text{
	0%{
		-webkit-background-size: 100%;
		opacity: 0;
	}
	100%{
		-webkit-background-size: 1200%;
		opacity: 100;
	}
}