:root{
	--playState: running;
}
@font-face{
	font-family: 'Swis721 BT';
	src: url("../ASSETS/FONTS/swis721btbold/Swis721_BT_Bold.ttf")
	}
@font-face{
	font-family: 'Swis721 BT Roman';
	src:url("../ASSETS/FONTS/swis721btbold/Swis721_Cn_BT_Roman.ttf")
}
body{
	padding-top: 0ex;
	margin-top:5vh;
	background-color: #EBE8E4;
}
.Go_To_Portfolio{
	z-index: 5;
	cursor: pointer;
	padding-left: 5em;
	margin-top: 1vh; 
	font-size: 1vw;
	font-family: "Swis721 BT";
	font-weight: 400;
}
a:visited{
	color: #7da6e3;
	text-decoration: none;
}
a:active{
	color: #7da6e3;
	text-decoration: none;
}
a:link{
	color: #7da6e3;
	text-decoration: none;
}
a:hover{
	color: #1c1c1c;
}
.Title_Syling{
	z-index: 3;
	pointer-events: none;
	align:center;
	display: flex;
 	flex-flow: row wrap;
 	justify-content: center;
 	align-content: center;
 	align-items: center;
	font-family: "Bookmania";
	font-size: 9vw;
	font-weight: 800;
}
#fancyStartLetters{
	padding-top:2.5vw;
	font-size: 15vw;
	-webkit-font-feature-settings: "swsh";
}
#fancyEndLetters{
	 -webkit-font-feature-settings: "swsh";
	font-size: 11.5vw;
	margin-top: 1.5vw;
}
.Body_Text{
	align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 1.25vw;
	line-height: 1.25;
	font-family: "Swis721 BT";
	font-weight: 50;
}
/*Start Home Styling*/
#Home_Title_Img{
	width: 85%;
	
}
#Page_One_Body{
	width: 50%;
	height: auto;
}
/*End Home Styling*/

/*Start Design Philosophy Styling*/
#nextPage{
	color: #7da6e3;
	position: fixed;
	left: 75%;
	z-index: top;
}
#designPhilosphyTitleSyle{
	margin-top: -15vh;
	margin-left: 7.75vw;
	margin-bottom: -20vw;
	width: 80vw;
	
}
#circleOfArrows{
	margin-top: -7vw;
	height: 30vw;
}
#functionText{
	position: fixed;
	margin-top: -24.5vw;
	margin-left: 4vw;
	font-size: 1.75vw;
	animation: rotateText 50s linear infinite;
	animation-play-state: var(--playState);
}
#formText{
	position: fixed;
	margin-top: -6.5vw;
	margin-left: 6.25vw;
	font-size: 1.75vw;
	animation: rotateText 50s linear infinite;
	animation-play-state: var(--playState);
}
#feelText{
	position: fixed;
	margin-top: -20.5vw;
	margin-left: 23.5vw;
	font-size: 1.75vw;
	animation: rotateText 50s linear infinite;
	animation-play-state: var(--playState);
}
.arrowAnimation{
	color: #7da6e3;
	pointer-events: none;
	margin-left: -3vw;
	margin-top: 19.5vh;
	padding-top: 7vw;
	padding-bottom:-6vw;
    transform-origin: center; /* 0,0 indicates top left corner*/
	animation: rotateCircle 50s linear infinite;
	animation-play-state: var(--playState);
}
#formText:hover, #feelText:hover, #functionText:hover{
	color: #1c1c1c;
	cursor: pointer;
}
@keyframes rotateCircle{
	from{
		transform: rotate(0deg)
	}
	to{
		transform: rotate(-359deg)
	}	
}
@keyframes rotateText {
	from{
		transform: rotate(0deg)
	}
	to{
		transform: rotate(359deg)
	}
}

.modal{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transition: 500ms cubic-bezier(1,-0.01,.59,1.01);
	border: 1px solid black;
	border-radius: 0.5vw;
	z-index: 10;
	background: white;
	width: 100vw;
	max-width: 80%;
}
.modal.active{
	transform: translate(-50%,-50%) scale(1);
}
.modalHeader{
	padding: 0.5vw 0.5vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

.modalTitleText{
	font-size: 2.25vw;
	font-family: "Bookmania";
	font-weight: 800;
}
.modalCloseButton{
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-family: "Bookmania";
	font-weight: 800;
	font-size: 2.25vw;
}
.modalBody{
	padding: 0.5vw 0.5vw;
	line-height: 1.25;
	font-family: "Swis721 BT";
	font-weight: 400;
	font-size: 1.25vw;
}
#overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background-color: rgba(0,0,0,.5);
	pointer-events: none;
}

#overlay.active{
	pointer-events: all;
	opacity: 1;
}